@using leavedays.Models.ViewModels.License;
@model CreateLicense
@{
    ViewBag.Title = "CreateLicense";
}
<div id="message" class="message hidden">
</div>
<h2>CreateLicense</h2>
  @foreach (var module in Model.Modules)
  {
    <table id="moduleTable">
        <tr>
            <td>@Html.CheckBox(module.Name)</td>
            <td>@module.Name</td>
        </tr>
    </table>
  }
<form action="@Url.Action("CreateLicense")" method="post">
    <label for="Textbox1">LicenseId</label><input type="text" name="LicenseId" value="@Model.LicenseId" /><br />
    <label for="Textbox2">LinenseName</label><input type="text" name="LicenseName" value="@Model.LicenseName" /><br />
    <input type="button" value="Submit" id="submit" />
</form>

