@using leavedays.Models.ViewModels.License;
@using leavedays.Models;
@model LicenseInformation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bordered">
    <h2>Remove Modules</h2>
    <br />
    <table>
        <tr>
            <td>Name</td>
            <td>@Model.LicenseName</td>
        </tr>
        <tr>
            <td>License Code</td>
            <td>@Model.LicenseCode</td>
        </tr>
        <tr>
            <td>Available for disable modules</td>
            <td>
                @if (Model.DefaultModules.Count == 0)
                {
                    <text>No available modules</text>
                }
                else
                {
                    <table id="moduleTable">
                        @foreach (var module in Model.DefaultModules)
                        {
                            <tr price="@module.Price">
                                <td>@Html.CheckBox(module.Name)</td>
                                <td>@module.Name</td>
                            </tr>
                        }
                    </table>
                }
            </td>
        </tr>
    </table>
    <div id="info" style="display: none; margin: 25px 0 0  20%;">
        <span>
            You save : $<span id="price">0</span> per user per month.
        </span>
        <br />
        <span>
            You have <span id="total">@Model.LicensesCount</span> licenses of which <span id="active">@Model.ActiveLicensesCount</span> active.
        </span>
        <br />
        <span>
            This will result in <span id="tatalCosts">0</span> save per month.
        </span>
        <br />
        <span>
            Please confirm by clicking "Save" below.
        </span>
    </div>
</div>

<div style="margin-left: 10px;">
    <input type="button" value="Submit" id="submit" />
</div>
<script>
    $(document).ready(function () {

        var active = parseInt($('#active').html(), 10);
        var totalCostsFiled = $('#tatalCosts');

        var price = $('#price');
        var table = $('#moduleTable');
        var submit = $('#submit');
        var infoBlock = $('#info');
        var checked;

        $(table).on('click', 'input[type="checkbox"]', function () {
            var extraCostsNum = 0.0;
            checked = $(table).find('td').find('input[type="checkbox"]:checked:not(.invisible)');
            $(checked).each(function (index, data) {
                var tr = $(this).parent().parent();
                extraCostsNum = parseFloat($(tr).attr('price')) + extraCostsNum;
                console.log(parseFloat($(tr).attr('price')));
            });

            if (extraCostsNum > 0.0) {
                $(price).html(extraCostsNum);
                $(totalCostsFiled).html('$' + (extraCostsNum * active));
                $(infoBlock).show();
            }
            else {
                $(infoBlock).fadeOut(200);
            }
        });

        $(submit).on('click', function () {
            var line = '';
            $(checked).each(function (index, data) {
                line += $(this).attr('name') + ',';
                var tr = $(this).parent().parent();
                $(this).toggleClass('invisible', true);
                $(infoBlock).hide();
                $(tr).fadeOut(500);
            });
            $.ajax({
                url: location.origin + '/Admin/DisableModules',
                type: "POST",
                data: {
                    modulesLine: line
                }
            });
        });
    });
</script>